* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.Navbar{
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: space-between; 
    align-items: center;
}
.Navbar-right
{
    justify-content: space-between;
    align-items: center; 
    padding:1rem;
}
.Navbar-left a{
   
    text-decoration: None;
    color:black;
    padding:2rem;
}
/* .nav--logo {
    max-width: 100px;
} */
